/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-spacer {
  margin-bottom: 48px;
}

.main-view {
  margin-left: 12px;
  margin-right: 12px;
}

#tables th {
  text-align: left;
}

#tables td {
padding-top: 10px;
padding-bottom:0;
}

#tables td:first-child, #tables th:first-child,
#tables td:nth-child(2), #tables th:nth-child(2) {
  border-right: solid 2px #666;
  padding-right: 12px;
}

#tables td:first-child, #tables th:first-child {
  width: 10px;
}

#tables td:nth-child(2), #tables th:nth-child(2)  {
  padding-left: 8px;
}

#tables td:nth-child(3), #tables th:nth-child(3) {
  padding-left: 10px;
}

#tables td:nth-child(2) .icon-move {
  padding-left: 4px;
}

#tables .ui-draggable-dragging {
background-color: #ff9;
}

#tables .ui-draggable-dragging-original {
  opacity: 0.4;
}

#tables .ui-droppable-dropping {
background-color: #f99;
}

#tables .icon-minus-sign {
  color: #ccc;
}

#tables .icon-minus-sign:hover {
  color: black;
}

.disabled a, .disabled a:hover {
  color: #999999;
  cursor: default;
}

.scores #tables td, #scores td {  padding-top: 0px; padding-bottom:0; border-bottom: 1px solid #ccc;}
.scores #tables th, #scores th {  border-bottom: 2px solid #666;}
.scores #tables td div { max-width: 100px; height: 18px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.scores #tables td:last-child, .scores #tables th:last-child { border-right: 2px solid #666; }
.scores #tables tr.even { background-color: #f4f4ff; }
.scores #tables tr.active { background-color: #ffd; }
.scores #tables tr.active.even { background-color: #fafae4; }
.scores #tables tr.even td, .scores #tables td.table { border-bottom: 1px solid #aaa; }
#tables td.table, #tables th.table { text-align: center; }
.scores #tables td:nth-child(2), #tables th:nth-child(2) { border-right: solid 1px #ccc; }

#scores td { height: 18px; width: 36px; text-align: center;}
#scores td div { width: 18px; text-align: center; margin-left: auto; margin-right: auto;}
#scores th { width: 18px; text-align: center; }
#scores td, #scores th { border-right: 1px solid #ccc; }
#scores tr.even { background-color: #f4f4ff; }
#scores tr.even td { border-bottom: 1px solid #aaa; }
#scores tr.active { background-color: #ffd; }
#scores tr.active.even { background-color: #fafae4; }

.scores-container { overflow: auto; max-width: 100%; }

.container.scores {  width: 100%; }

#scores td.active { background-color: #ffd; }
#scores tr.even td.active { background-color: #fafae4; }

.scores .btn-toolbar { margin-bottom: 10px; text-align: right;}

.entry-widget .table { float:left;}
.entry-widget .table input { width: 74px; height: 64px; font-size: 24px; text-align: center; }
.entry-widget .matchpoints {  }
.entry-widget .matchpoints div.assignee {  overflow: hidden; text-overflow: ellipsis; height: 1.3em;}

.entry-widget .matchpoints input::-webkit-outer-spin-button,
.entry-widget .matchpoints input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.turn-number { font-weight: bold; }
