<p>Tavoli:</p>

<table id="tables">
  <tr>
    <th>Numero</th>
    <th>Fisso</th>
    <th>Mobile</th>
  </tr>
  <tr ng-repeat="table in tables">
    <td>{{table.number}}</td>
    <td>
      <input ng-model="table.fixed.a"></input> /
      <input ng-model="table.fixed.b"></input>
    </td>
    <td>
      <input ng-model="table.moving.a"></input> /
      <input ng-model="table.moving.b"></input>
    </td>
    <td>
      <a href="#" ng-click="removeTable(table)"><i class="icon-minus-sign"/></button>
      </td>
  </tr>
</table>
<button ng-click="addTable()" class="btn"><i class="icon-plus"></i>Aggiungi tavolo</button>
