<p>Tavoli:</p>

<table id="tables">
  <tr>
    <th>Numero</th>
    <th>Fisso</th>
    <th>Mobile</th>
  </tr>
  <tr ng-repeat="table in tables">
    <td>{{table.number}}</td>
    <td data-draggable-team="table.fixed">
      <input ng-model="table.fixed.a"></input> /
      <input ng-model="table.fixed.b"></input>
      <i class="icon-move icon-large"/>
    </td>
    <td data-draggable-team="table.moving">
      <i class="icon-move icon-large"/>
      <input ng-model="table.moving.a"></input> /
      <input ng-model="table.moving.b"></input>
    </td>
    <td>
      <a href="#" ng-click="removeTable(table)"><i class="icon-minus-sign icon-large"/></a>
      </td>
  </tr>
</table>
<button ng-click="addTable()" class="btn"><i class="icon-plus"></i>Aggiungi tavolo</button>
