<header class="subhead jumbotron">
  <div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <li><a href="">Turno: <span class="turn-number" contenteditable type="number" data-singleline ng-model="currentRound"></span></a></li>
      <li data-disable-children="currentRound < 2"><a href="#prevRound" data-toggle="modal"><i class="icon-backward"/> Turno precedente</a></li>
      <li data-disable-children="currentRound >= config.rounds"><a href="#nextRound" data-toggle="modal"><i class="icon-forward"/> Prossimo turno</a></li>
      <li data-disable-children="currentRound != config.rounds"><a href="#finish" data-toggle="modal"><i class="icon-gift"/> Risultati finali</a></li>
    </ul>
  </div>
</header>

<div class="modal hide" id="prevRound">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Turno precedente: {{currentRound - 1}}</h3>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler andare al turno nr. {{currentRound - 1}}?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">No</a>
    <a class="btn btn-primary" data-dismiss="modal" ng-click="prevRound()">Si</a>
  </div>
</div>

<div class="modal hide" id="nextRound">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Prossimo turno: {{currentRound + 1}}</h3>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler andare al turno nr. {{currentRound + 1}}?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">No</a>
    <a class="btn btn-primary" data-dismiss="modal" ng-click="nextRound('rotate')">Michell (rotazione)</a>
    <a class="btn btn-primary" data-dismiss="modal" ng-click="nextRound('rank')">Danese (classifica)</a>
  </div>
</div>


<div class="navbar-spacer">&nbsp;</div>

<div class="container scores">
  <div class="btn-toolbar">
    <div class="btn-group">
      <button ng-click="toggleHistory()" class="btn" ng-class="{true: 'active'}[config.showHistory]"><i class="icon-time"/> Mostra storico</button>
      <button ng-click="toggleHistory()" class="btn" ng-class="{true: 'active'}[!config.showHistory]"><i class="icon-play-circle "/> Inserimento dati</button>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <table id="tables" width="100%">
        <tr>
          <th class="table">Tavolo</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="teamTable in teamTables" ng-class-even="'even'" ng-class="{true: 'active'}[selectedTable == teamTable.number]" ng-click="selectTable(teamTable.number)">
          <td ng-hide="!teamTable.first" rowspan="2" class="table"><div>{{teamTable.number}}<div></td>
          <td>
            <div>{{teamTable.a}}
          </td>
          <td>
            <div>{{teamTable.b}}</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="scores-container" ng-show="config.showHistory">
      <table id="scores" width="100%">
        <tr>
          <th ng-repeat="round in range(1, config.rounds + 1)" class="{{{true: 'active'}[round == currentRound]}}">{{round}}</th>
        </tr>

        <tr ng-repeat="teamTable in teamTables" ng-class-even="'even'">
          <td ng-repeat="round in range(1, config.rounds + 1)" class="{{{true: 'active'}[round == currentRound]}}"><div>{{teamTable.number}}<div></td>
        </tr>
      </table>
    </div>

    <div class="scores-container span2" ng-hide="config.showHistory">
      <table id="scores" width="100%">
        <tr>
          <th>{{currentRound}}</th>
          <th>Totale</th>
        </tr>
        <tr ng-repeat="teamTable in teamTables" ng-class-even="'even'" ng-class="{false: 'disabled', true: 'active'}[selectedTable == teamTable.number]">
          <td><div>{{teamTable.currentScore}}<div></td>
          <td><div>{{teamTable.totalScore}}<div></td>
        </tr>
      </table>
    </div>

    <div class="span6 well entry-widget" ng-hide="config.showHistory">
      <label>
      <input type="checkbox" ng-model="config.autoNextTable">
      Passa automaticamente al prossimo tavolo
      </label>
      <div class="table">
        <label for="table">Tavolo:</label>
        <input id="table" type="number" ng-model="selectedTable" min="1" max="{{tables.length}}"/>
      </div>
      <div class="matchpoints">
        <div>
          <label for="matchpoints">Matchpoints:</label>
          <input id="matchpoints" type="number" ng-disabled="!selectedTable" ng-model="currentMatchpoints"/>
        </div>
        <button class="btn btn-primary" ng-disabled="!(selectedTable && currentMatchpoints)" ng-click="acceptScore(currentMatchpoints)">Accetta</button>
      </div>
    <div>
  </div>
</div>
