<header class="subhead jumbotron">
  <div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <li><a href="" ng-click="addTable()"><i class="icon-plus"></i>Aggiungi tavolo</a></li>
      <li><a href="" ng-click="shuffle('fixed')"><i class="icon-refresh"/> Sorteggia solo fissi</a></li>
      <li><a href="" ng-click="shuffle('moving')"><i class="icon-refresh"/> Sorteggia solo mobili</a></li>
      <li><a href="" ng-click="shuffleAll()"><i class="icon-refresh"/> Sorteggia tutti</a></li>
    </ul>
  </div>
</header>

<div class="navbar-spacer">&nbsp;</div>


<table id="tables">
  <tr>
    <th>Tavolo</th>
    <th>Fisso</th>
    <th>Mobile</th>
  </tr>
  <tr ng-repeat="table in tables">
    <td>{{table.number}}</td>
    <td data-draggable-team="table.fixed">
      <input ng-model="table.fixed.a"></input> /
      <input ng-model="table.fixed.b"></input>
      <i class="icon-move icon-large"/>
    </td>
    <td data-draggable-team="table.moving">
      <i class="icon-move icon-large"/>
      <input ng-model="table.moving.a"></input> /
      <input ng-model="table.moving.b"></input>
    </td>
    <td>
      <i ng-click="removeTable(table)" class="icon-minus-sign icon-large" ng-hide="$first"/>
      </td>
  </tr>
</table>
